@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #ddd;
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: 3rem;
  color: green;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-weight: 600;
  font-size: 1rem;
}

button,
input,
select {
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 5px;
  min-width: 100px;
  margin: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
